<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>



  <div class="container">
    <img class="container" src="img/LogoCover.png" class="responsive">

    <h1 class="display-4">Thank you  <%= email %> </h1>
    <p>Your feedback make us do better . </p>

  </div>
</body>

</html>