<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>



  <div class="container">
    <img class="container" src="img/LogoCover.png" class="responsive">

    <h1 class="display-4">Welcome Back</h1><br><br>
    <p class="display-7">Please Enter email and password to Evaluate your Crouses</p>
    <form method="post">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="email" id="email" name=email>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="password" id="password" name="password">
      </div>
      <input class="btn btn-info" type="submit" value="Login">
    </form>
  </div>
</body>

</html>